html, body {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    text-align: center;
}

.card {
    box-shadow: 2px 2px 2px 2px rgb(24, 23, 23);
    opacity: 0;
    max-height: 300px;
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: .5s;
}

.card-body {
    text-align: center;
    overflow: hidden;
}

.card label {
    pointer-events: none;
}

.card:hover {
    box-shadow: 2px 2px 2px 2px black;
    background-color: lightblue;
}

nav {
    box-shadow: 0px 0px 5px 0px black;
}

iframe {
    width: 400%;
    height: 800px;
    pointer-events: none;
    overflow: hidden;
    transform: scale(0.25, 0.25) translateX(30%); 
    
    transform-origin: top left;
    position: relative;
    left: 0px;
    right: 0px;
}

